@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree|Titillium+Web');

.topnavContainer {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
  width: 100%;
}

.topnavContainer a {
  font-family: 'Bai Jamjuree', sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  justify-content: center;
}

.topnavContainer a:hover {
  background: rgb(97, 97, 97);
  transition: 0.5s;
  border-radius: 10px;
}

.home {
  color: #a91142;
}

.about {
  color: #7d1b4c;
}

.contact {
  color: #e9c100;
}

.blog {
  color: #5f96bf;
}
