@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.topnavContainer {
  display: grid;
  position: fixed;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
  width: 100%;
}

.topnavContainer a {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  justify-content: center;
}

.topnavContainer a:hover {
  background: rgba(97, 97, 97, 0.5);
  transition: 0.5s;
  border-radius: 10px;
}

.home {
  color: #a91142;
}

.about {
  color: #7d1b4c;
}

.contact {
  color: #e9c100;
}

.blog {
  color: #5f96bf;
}
